@import "bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://t3.ftcdn.net/jpg/01/24/53/40/360_F_124534065_ww9OXMx183M5wQ85WNQ0rnLyXvsQMg19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 40px ;
    border-radius: 10px;
    padding: 0px 10px;
    border: 5px;
    border-color: black;
    font-size: 70px;
}
.buttonCard{
    border-color: black;
}
.top-suit {
    display: flex;
    justify-content: left;
    width: 100%;

}

.value {

    display: flex;
    justify-content: center;
    width: 100%;
}


.bottom-suit {
    display: flex;
    justify-content: right;
    width: 100%;
}

.card.heart {
    color: red;
}

.card.diamond {
    color: red;
}

.card.spade {
    color: black;
}

.card.club {
    color: black;
}